html, body {
    width: 100%;
    height: 100%;
}
.buttonsSection {
  display: inline;
  margin-left: 10%;
}
.button {
  width: 10%;
  margin-right: 1%;
  text-align: center;
}
.inputsContent {
  width: 50%;
  font-family: monospace;
  font-size: 16px;
  margin: 2% 0 2% 25%;
}
